@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #FCF8F3;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 450px;
    background-color: white;
    box-shadow: #e0e0e0 1px 1px 4px;
    margin: 12.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
}
.container label{
    float: left;
}
.container_input{
    width: 80%;
    position: relative;
    padding:0 0 0 20px;
    margin:0 20px;
}
.container_input img{
    position:absolute;
    bottom:7px;
    right:45px;
    width:30px;
    height:30px;
}
.btn{
    width: 50%;
    height: 45px;
    background-color: #5056C6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: bold;
}
input{
    width: 70%;
    height: 42.5px;
    font-size: 15px;
    padding-left: 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-right: 40px;
    color: #5056C6;
}
input:hover{
    border: 1px solid #5056C6;
}
*:focus{
    outline: 0px;
    border: 1px solid #5056C6;
}
.logo{
    width: 110px;
    height: 25px;
}
label{
    font-size: 14px;
    color: #4b3ccb;
}

