@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url("Fond.png");
    background-size: cover;;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width: 340px;
    height: 365px;
    background-color: white;
    box-shadow: #e0e0e0 1px 1px 4px;
    margin: 17%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 13px;
    float: right;
    margin: 0px 10px;
}
.container a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
}
.container label{
    float: left;
}
.container_input{
    position: relative;
}
.container_input img{
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 23px;
    height: 23px;
}
.btn{
    width: 72%;
    height: 45px;
    background-color: #5056C6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 20px 0px;
}
input{
    width: 100%;
    height: 42.5px;
    font-size: 15px;
    padding-left: 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-right: 40px;
    color: #5056C6;
    box-sizing: border-box;
}

*:focus{
    outline: 0px;
    border: 1px solid #5056C6;
}
.logo{
    width: 110px;
    height: 25px;
    padding: 15px;
}
label{
    font-size: 14px;
    color: #4b3ccb;
    margin: 15px 0px;
}

